site_name: Why Docs
site_url: https://sitename.example
#nav:
#  - Home: index.md
#  - About: about.md
plugins:
  - search
  - blog:
      archive_date_format: MM/yyyy
      archive_url_date_format: MM/yyyy
      categories_allowed:
        - Car
        - Analog Circuit
        - Lifestyle
        - CS
        - RF
        - FPGA
  - tags:
      tags_file: tags.md

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.gif
  favicon: assets/logo.gif
  features:
    - navigation.footer
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
       custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra:
  mermaid:
    version: '8.13.5'
  social:
    - icon: simple/bilibili
      link: https://space.bilibili.com/383477974?spm_id_from=333.337.0.0
copyright: Copyright &copy; 2024 WHY


